/* Variables */

:root{
  --basic-white: #FFFFFF;
  --basic-black:#000000;
  --basic-blue-light: #32425C;
  --basic-blue-dark:#293449;
  --basic-blue-verydark:#1D2739;
  --basic-red: #EE3643;
  --basic-red-dark: #BA2732;
  --basic-yellow: #FFD180;
  --basic-green: #63A63E;
  --basic-green-light: #5FBB2D;
  --basic-grey-light: #C5C5C5;
  --basic-grey: #A9A9A9;
  --basic-background-grey: #F3F7F9;
  --basic-yellow-light: #FFD180;
  --basic-grey-overlight: #F1F5F7;
  --basic-brown-light:#F1F5F7;
}

/* Global */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
li {
  list-style: none;
}
.main-info {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  background-color: var(--basic-blue-dark);
}
.main-info a{
  color: var(--basic-white);
}
.main-info a:focus{
  color: var(--basic-grey-light)
}
.main-logo{
  background-color: var(--basic-red) ;
}
.main-checkout{
  background-color: var(--basic-green);
}
.main-checkout:focus {
  background-color: var(--basic-green);
}
.main-checkout:hover {
  background-color: var(--basic-green-light);
}
.main-navigation-wrapper{
  background-color: var(--basic-background-grey);
}
.user-navigation p {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: var(--basic-red);
}
.main-login a {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.main-login a:hover{
  color: var(--basic-red)
}
.main-login a:focus{
  color: var(--basic-grey-light);
}
.phone {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-red);
  border: 2px solid white;
}
.main-address {
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-blue-light);
  font-style: normal;
}
.username a{
  width: 299px;
  min-height: 45px;
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  font-style: normal;
  color: var(--basic-black);
  text-transform: capitalize;
  background-color: var(--basic-white);
}
.username a:focus{
  color: var(--basic-grey-light);
}
.username-status a{
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-blue-light);
}
.username-status a:hover{
  color: var(--basic-red)
}
.username-status a:focus{
  color: var(--basic-grey-light)
}
.main-navigation {
  font-size: 18px;
  line-height: 24px;
  background-color: var(--basic-blue-light);
}
.main-navigation a{
  color:  var(--basic-white);
}
.main-navigation a:focus{
  opacity: 0.5;
}
.main-navigation li:hover{
  background-color: var(--basic-blue-dark);
}
.main-navigation li:focus{
  background-color: var(--basic-blue-verydark);
}
.advantages li:not(:nth-child(4)){
  max-width: 300px;
  max-height: 123px;
}
.advantages h3{
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
.advantages{
  color: var(--basic-white);
}
.advantages-button{
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: rgba(255,255,255,0.3);
}
.advantages-button:hover{
  background-color: rgba(197, 197, 197, 0.3);
}
.advantages-button:focus {
  background-color: rgba(169, 169, 169, 0.3);
}
.advantages-materials{
  background-color: #FFBF47;
}
.advantages-tools{
  background-color: #3BBCE3;
}
.advantages-technics{
  background-color: #DC91D8;
}
.advantages-gallery{
  width: 620px;
  height: 266px;
  background-image: url("../img/perforators.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.button {
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  border: none;
  background-color: var(--basic-red);
}
.button:hover{
  background-color: var(--basic-red);
}
.button:focus{
  background-color: var(--basic-red-dark);
}
.figure h3{
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--basic-white);
}
.figure p{
  font-size: 18px;
  line-height: 24px;
}
.advantages-discounts{
  background-color: #8ED78F;
}
.advantages-delivery{
  background-color: #FFC047;
}
.product-popular{
  background-color: var(--basic-brown-light);
}
.product h2{
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-blue-light);
}
.catalog-list {
  font-family: "PT Sans", Arial, sans-serif;
}
.catalog-item h3{

}
.catalog-item {
  max-width: 220px;
  background-color: var(--basic-white);
  border: 1px solid #EAEAEA;
  text-align: center;
}
.catalog-item a{
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
}
.catalog-item-oldprice {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-decoration-line: line-through;
  color: var(--basic-grey);
}
.catalog-item-newprice {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--basic-red);
}
/*неудачный треугольник на кнопке */
.catalog-item-newprice:after{
  /*content: "";*/
  /*width: 0;*/
  /*height: 0;*/
  /*border-style: solid;*/
  /*border-width: 10px 0 10px 17.3px;*/
  /*border-color: transparent transparent transparent #ff0000;*/
}
.catalog-item-newprice:focus{
  outline: none;
}
.manufacturer-popular{
  background-color: var(--basic-brown-light);
}
.manufacturer-popular h2{
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-blue-light);
}
.manufacturer-item {
  max-width: 220px;
  max-height: 145px;
  background-color: var(--basic-white);
  text-align: center;
  border: 1px solid #EAEAEA;
}
.service {
  background-color: var(--basic-grey-overlight);
}
.service h2{
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}
.service p{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}
.service-delivery{
  color: var(--basic-blue-light);
}
.service-button{
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  background-color: var(--basic-blue-light);
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
  border: none;
}
.service-button:focus{
  outline: none;
}
.service-button:hover{
  background-color: var(--basic-blue-dark);
}
/*тут как-то нужно сделать кнопку всегда активной, и задать ей фон и цвет текса, с помощью гугла говорит что только с помощью js*/
.company-info{
  background-color: var(--basic-white);
  color:var(--basic-black);
}
.company-info h2{
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}
.company-info p{
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}
.company-shopping li{
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
.footer-wrapper{
  background-color: var(--basic-blue-light);
}
.footer-navigation-info {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
.footer-navigation-info address{
  font-style: normal;
  color: var(--basic-background-grey);
}
.footer-navigation-info a{
  color: var(--basic-background-grey);
}
.footer-navigation-menu {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.footer-navigation-list-info a{
  color: #F1F5F7;
}
.footer-navigation-list-catalog a{
  color: #FFDA96;
}
.footer-navigation-menu a:hover{
  text-decoration: underline;
}
.footer-navigation-menu a:focus{
  opacity: 0.5;
}
.footer-navigation-contact{
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-white);
  background-color: var(--basic-blue-dark);
}
.footer-img-wrapper{
  width: 44px;
  height: 44px;
  background: linear-gradient(0deg, #212A3A, #212A3A);
  border-radius: 100%;
  position: relative;
}
.footer-img-wrapper img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer-img-wrapper:hover{
  background: var(--basic-red);
}
.footer-feedback a{
  color: var(--basic-yellow-light);
}
.footer-feedback a:hover{
  text-decoration: underline;
}
.footer-feedback a:focus{
  color: var(--basic-red);
}
