/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version,not dead,not ie <= 11
*/

*, *::before, *::after {
  box-sizing: content-box;
}
/* Variables */

:root{
  --basic-white: #FFFFFF;
  --basic-white-border: #E5E5E5;
  --basic-white-background: #F2F6F8;
  --basic-black:#000000;
  --basic-blue-light: #32425C;
  --basic-blue-dark:#293449;
  --basic-blue-verydark:#1D2739;
  --basic-red: #EE3643;
  --basic-red-dark: #BA2732;
  --basic-yellow-light: #FFD180;
  --basic-yellow: #FFD180;
  --basic-yellow-background:#FFC047;
  --basic-green: #63A63E;
  --basic-green-light: #5FBB2D;
  --basic-green-dark: #518534;
  --basic-green-bar:#00ca74;
  --basic-grey-light: #C5C5C5;
  --basic-grey: #A9A9A9;
  --basic-background-grey: #F3F7F9;
  --basic-grey-overlight: #F1F5F7;
  --basic-brown-light:#F1F5F7;
  --basic-brown:#F7F3EC;
  --basic-sand-background: #F9F5F0;
  --basic-sand-light: #FFDA96;
  --basic-grey-scale:#D7DCDE;
  --basic-grey-toogle:#ABABAB;
  --basic-grey-modal: #F1F1F1;
  --basic-background-feedback: #F4F4F4 ;
  --special-background-yellow: #FFBF47;
  --special-background-blue: #3BBCE3 ;
  --special-background-pink: #DC91D8;
  --special-background-green: #8ED78F;
  --special-border-white: #EAEAEA;
  --special-shadow-bluelight: #405069;
  --special-shadow-green:#367315;
  --special-gradient-blue: #212A3A;
}

/* Global */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
li {
  list-style: none;
}
.page{
  height:100%;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-body{
  min-height:100%;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-max-content;
  grid-template-rows: min-content 1fr max-content;
  align-content: start;
}
.container{
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.main-info {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  background-color: var(--basic-blue-dark);
}
.main-info-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-info a{
  color: var(--basic-white);
}
.main-info-checkout a:active{
  color: var(--basic-grey-light);
  opacity: 0.5;
}
.main-info-checkout a:nth-child(2):active,
.main-info-checkout a:nth-child(3):active {
  background-color: var(--basic-black);
}
.main-info-checkout {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.main-info-wrapper:active{
  opacity: 0.5;
}
.main-info-bookmark {
  max-width: 150px;
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
  padding-top: 9px;
  position: relative;
  padding-right: 36px;
  padding-left: 25px;
}
.main-info-bookmark:after {
  content: "";
  position: absolute;
  top:12px;
  left: 1px;
  background-image: url("../img/icon-bookmark.svg");
  width: 14px;
  height: 16px;
}
.main-info-bookmark:hover:after {
  content: "";
  position: absolute;
  top:12px;
  left: 1px;
  background-image: url("../img/icon-bookmark-hover.svg");
  width: 14px;
  height: 16px;
}
.main-info-basket {
  max-width: 150px;
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
  padding-top: 10px;
  position: relative;
  padding-left: 39px;
  padding-right: 25px;
}
.main-info-basket-active {
  background-color: var(--basic-red);
  max-width: 150px;
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
  padding-top: 10px;
  position: relative;
  padding-left: 35px;
  padding-right: 23px;
}
.main-info-basket-active:after {
  content: "";
  position: absolute;
  top:13px;
  left: 13px;
  background-image: url("../img/icon-basket.svg");
  width: 15px;
  height: 15px;
}
.main-info-basket:after {
  content: "";
  position: absolute;
  top:13px;
  left: 13px;
  background-image: url("../img/icon-basket.svg");
  width: 15px;
  height: 15px;
}
.main-info-basket:hover:after {
  content: "";
  position: absolute;
  top:13px;
  left: 13px;
  background-image: url("../img/icon-cart-basket-hover.svg");
  width: 15px;
  height: 15px;
}
.main-info-basket-active:hover:after {
  content: "";
  position: absolute;
  top:13px;
  left: 13px;
  background-image: url("../img/icon-cart-basket-hover.svg");
  width: 15px;
  height: 15px;
}
.main-logo{
  background-color: var(--basic-red) ;
  min-width: 219px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 8px;
  position: relative;
}
.main-logo:active {
  background: var(--basic-red-dark);
}
.main-logo:before {
  content: "";
  background: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  position: absolute;
  bottom: -4px;
  right: 0;
  width: 220px;
  height: 5px;
}
.main-logo img{
  width:108px;
  height:18px;
  margin: 0;
}
.header-search {
  background: transparent;
  border: none;
  min-width: 240px;
  padding-left: 42px;
  padding-bottom: 11px;
  padding-top: 11px;

}
.header-search-wrapper {
  position: relative;
  padding-right: 19px;
  max-width: 271px;
}
.header-search-wrapper svg {
  fill: var(--basic-white);
  opacity: 0.3;
  position: absolute;
  top:11px;
  left:18px;
}
.header-search-wrapper:hover svg {
  fill: var(--basic-white);
  opacity: 1;
}

.header-search:focus {
  background-color: var(--basic-white);
}
.header-search-wrapper input:focus + svg {
  fill: var(--basic-red);
  opacity: 1;
}
.header-search::-webkit-input-placeholder {
  color: var(--basic-white);
}
.header-search::-moz-placeholder {
  color: var(--basic-white);
}
.header-search::placeholder {
  color: var(--basic-white);
}
.header-search::-webkit-input-placeholder:focus {
  opacity: 0.5;
}
.header-search::-moz-placeholder:focus {
  opacity: 0.5;
}
.header-search::placeholder:focus {
  opacity: 0.5;
}
.main-info-list {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
.main-info-item {
  min-width: 150px;
  text-align: center;
}
.main-checkout{
  max-width: 150px;
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
  padding-top: 10px;
  background-color: var(--basic-green);
  padding-left: 19px;
  padding-right: 16px;
}
.main-checkout:active {
  background-color: var(--basic-green);
}
.main-checkout:hover {
  background-color: var(--basic-green-light);
}
.user-navigation{
  background-color: var(--basic-background-grey);
  padding-bottom: 60px;
}
.user-navigation p {
  font-size: 16px;
  line-height: 24px;
  font-style: italic;
  color: var(--basic-red);
  margin: 0;
  margin-left: 30px;
}
.user-navigation-wrapper{
  display: flex;
  justify-content: space-between;
  padding-top: 42px;
  padding-bottom: 40px;
  align-items: flex-start;
}
.main-phone-wrapper {
  text-align: center;
  position: relative;
  padding-left: 43px;
}
.phone::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 84px;
  width: 17px;
  height: 19px;
  background-image: url("../img/main-phone-wrapper.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.main-login {
  position: relative;
  margin-left: 20px;
  display: flex;
}
.main-login a {
  display: block;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  padding: 14px 24px;
  vertical-align: baseline;
}
.main-login a:last-child {
  margin-left: 9px;
}
.main-login a:hover{
  color: var(--basic-red)
}
.main-login a:active{
  color: var(--basic-grey-light);
}
.main-login a:nth-child(1) {
  padding-left: 45px;
  padding-right: 27px;
}
.main-login a:nth-child(1)::before {
  content: "";
  width: 20px;
  height: 17px;
  position: absolute;
  top: 15px;
  left: 19px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.main-login a:nth-child(1):hover::before {
  background-image: url("../img/icon-login-hover.svg");
}
.main-login a:nth-child(1):active::before {
  background-image: url("../img/icon-login.svg");
}

.phone {
  display: block;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-red);
  border: 2px solid white;
  margin: 0;
  padding: 8px 45px 8px 74px;
}
.main-address {
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-blue-light);
  font-style: normal;
  margin-top: 2px;
}
.username a{
  min-width: 299px;
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  font-style: normal;
  color: var(--basic-black);
  text-transform: capitalize;
  background-color: var(--basic-white);
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 12px;
  margin-bottom: 7px;
  position: relative;
}
.username a:before {
  content: "";
  width: 20px;
  height: 18px;
  background-image: url("../img/human.svg");
  position: absolute;
  top:15px;
  left: 15px;
}
.username a:after{
  content: "";
  width: 20px;
  height: 17px;
  background-image: url("../img/icon-logout.svg");
  position: absolute;
  top:16px;
  right:17px;
}
.username a:hover:before {
  content: "";
  width: 20px;
  height: 18px;
  background-image: url("../img/human-hover.svg");
  position: absolute;
  top:15px;
  left: 15px;
}
.username a:hover:after {
  content: "";
  width: 20px;
  height: 17px;
  background-image: url("../img/icon-logout-hover.svg");
  position: absolute;
  top:16px;
  right:17px;
}
.username a:active:after{
  content: "";
  width: 20px;
  height: 17px;
  background-image: url("../img/icon-logout.svg");
  position: absolute;
  top:16px;
  right:17px;
}
.username a:active:before {
  content: "";
  width: 20px;
  height: 18px;
  background-image: url("../img/human.svg");
  position: absolute;
  top:15px;
  left: 15px;
}
.username a:hover {
  color: var(--basic-red);
}
.username a:active {
  color: var(--basic-grey-light);
}
.username-status {
  text-align: center;
  padding-top: 3px;
}
.username-status a{
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-blue-light);
  margin-left: 16px;
  margin-right: 16px;
  position: relative;
}
.username-status a:first-child:after {
  content: "";
  width: 6px;
  height: 6px;
  background: linear-gradient(0deg, var(--basic-blue-light), var(--basic-blue-light), var(--basic-white));
  position: absolute;
  top: 6px;
  right: -22px;
  border-radius: 50%;
}
.username-status a:hover{
  color: var(--basic-red);
}
.username-status a:active{
  color: var(--basic-grey-light);
}
.main-navigation ul {
  font-size: 18px;
  line-height: 24px;
  width: 940px;
  background-color: var(--basic-blue-light);
  box-shadow: inset 0px -5px 0px var(--basic-blue-dark);
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding:0;
  min-height: 60px;
}
.main-navigation-list a{
  display: block;
  color:  var(--basic-white);
  padding: 16px 29px 20px 29px;
}
.main-navigation-list li:first-child a {
  padding-left: 52px;
}
.main-navigation-list li:last-child a {
  padding-right: 47px ;
}
.main-navigation a:active{
  opacity: 0.5;
}
.main-navigation a:hover{
  background-color: var(--basic-blue-dark);
}
.main-navigation a:active{
  background-color: var(--basic-blue-verydark);
}
.advantages h3{
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  margin-top: 20px;
  margin-left: 23px ;
}
.advantages{
  color: var(--basic-white);
  margin-top: 60px;
  margin-bottom: 60px;
}
.advantages-button{
  display: inline-block;
  vertical-align: baseline;
  min-width: 133px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: rgba(255,255,255,0.3);
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin-top: 13px;
  margin-bottom: 21px;
  margin-left: 23px;
}
.advantages-item {
  position: relative;
}
.advantages-item img {
  position: absolute;
  bottom: 30px;
}
.advantages-button:hover{
  background-color: rgba(197, 197, 197, 0.3);
}
.advantages-button:active {
  background-color: rgba(169, 169, 169, 0.3);
}
.advantages-materials{
  background-color: var(--special-background-yellow);
}
.icon-materials {
  right: 42px;
  bottom: 28px;
}
.advantages-tools{
  background-color: var(--special-background-blue);
}
.icon-tools {
  right:31px;
}
.advantages-technics{
  background-color: var(--special-background-pink);
}
.icon-technic {
  right: 30px;
}
.advantages-gallery{
  max-width: 620px;
  max-height: 266px;
  background-image: url("../img/perforators.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
}

.advantages-gallery-hidden {
  display: none;
}
.advantages-gallery-drill {
  max-width: 620px;
  max-height: 266px;
  background-image: url("../img/drill.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
  display: none;
}
.advantages-gallery-show {
  display: block;
}
.advantages-gallery-figure {
  background: rgba(0, 0, 0, 0.25);
  margin: 0;
  min-width: 620px;
  min-height: 106px;
}
.advantages-gallery h3 {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--basic-white);
  padding-top: 23px;
  padding-bottom: 5px;
  padding-left: 24px;
  text-transform: uppercase;
}
.advantages-gallery-text{
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
}
.button-gallery {
  padding: 11px 46px 10px 46px;
  position: absolute;
  bottom: 23px;
  left: 25px;
  font-size: 14px;
  line-height: 18px;
}
.button-back {
  position: absolute;
  border: none;
  width: 22px;
  height: 40px;
  left:24px;
  bottom: 104px;
  background: transparent;
  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;
  background-size: 22px 40px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.button-next{
  position: absolute;
  border: none;
  background: transparent;
  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;
  background-size: 22px 40px;
  transform: rotate(-180deg);
  width: 22px;
  height: 40px;
  right:20px;
  bottom: 104px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.button {
  display: inline-block;
  vertical-align: baseline;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  border: none;
  background-color: var(--basic-red);
  font-size: 14px;
  line-height: 18px;
}
.button:hover{
  background-color: var(--basic-red);
}
.button:active{
  background-color: var(--basic-red-dark);
}
.figure h3{
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--basic-white);
}
.figure p{
  font-size: 18px;
  line-height: 24px;
}
.advantages-list{
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap:20px;

}
.advantages-gallery{
  grid-column: 1/3;
  grid-row: 2/4;
}
.advantages-discounts{
  background-color: var(--special-background-green);
}
.icon-discounts {
  bottom: 28px;
  right: 46px;
}
.advantages-delivery{
  background-color: var(--basic-yellow-background);
}
.icon-delivery {
  right: 30px;
}
.product-popular{
  background-color: var(--basic-sand-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 24px;
}
.product h2{
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--basic-blue-light);
  padding-left: 28px;
}
.product-popular .button {
  margin-right: 14px;
  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 14px;
  line-height: 18px;
}
.catalog-list {
  font-family: "PT Sans", Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 21px 0 52px 0;
}
.catalog-item h3{
  margin: 0;
  order: 1;
  margin-bottom: 7px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}
.catalog-item p {
  margin: 0;
  padding-right: 7px;
}
.catalog-item {
  width: 220px;
  min-height: 318px;
  background-color: var(--basic-white);
  border: 1px solid var(--special-border-white);
  text-align: center;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.catalog-item:last-child {
  margin-right: 0;
}
.catalog-item a{
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
  margin: 0;
  display: flex;
  flex-direction: column;
}
.catalog-item:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
.new:after {
  content: "";
  margin: 0;
  padding: 0;
  background-image: url("../img/catalog-new.svg");
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  position: absolute;
  top:0;
  right: 0;
}

.catalog-item-newprice-wrapper {
  margin: 0;
  margin-bottom: 21px;
}
.catalog-item-oldprice {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
  color: var(--basic-grey);
  padding-left: 7px;
}
.catalog-item-newprice {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--basic-red);
  margin: 0;
  margin-top: 13px;
  margin-bottom: 21px;
  display: block;
  text-align: center;
  min-width: 115px;
  min-height: 38px;
  padding: 0;
  border: none;
  position: relative;
  padding-left: 7px;
}
.catalog-item-newprice:after{
  content: "";
  position: absolute;
  right: -38px;
  top:0;
  border: 19px solid transparent;
  border-left: 19px solid var(--basic-red);
}
.catalog-item-newprice:active{
  outline: none;
}
.catalog-item-image {
  height: 159px;
  width: 200px;
  display: block;
  padding-top: 21px;
  padding-right: 16px;
  -o-object-fit: contain;
  object-fit: contain;

}
.manufacturer {
  margin-bottom: 70px;
}
.manufacturer-popular{
  background-color: var(--basic-sand-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.manufacturer-popular h2{
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-blue-light);
  padding-left: 28px;
  padding-top: 31px;
  padding-bottom: 31px;
}
.manufacturer-popular .button {
  display: block;
  padding-top: 11px;
  padding-bottom: 9px;
  padding-right: 38px;
  padding-left: 39px;
  margin-right: 19px;
}
.manufacturer-item {
  width: 219px;
  height: 143px;
  background-color: var(--basic-white);
  text-align: center;
  border: 1px solid var(--special-border-white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.manufacturer-item:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
.manufacturer-item:active {
  opacity: 0.5;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
.manufacturer-list li{
  text-align: center;
  margin-top: 5px;
}
.manufacturer-list{
  width: 940px;
  display: grid;
  grid-template-columns: 219px 219px 219px 219px;
  grid-template-rows: 145px 145px;
  gap:21px;
  padding: 0;
}
.manufacturer-item img{
  display: inline-block;
  vertical-align: middle;
}
.service {
  background-color: var(--basic-grey-overlight);
}
.service-addditional {
  display: flex;
  align-items: flex-start;
  margin-top: 66px;
  padding-bottom: 35px ;
}
.service-wrapper{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.service-button-wrapper{
  display: flex;
  flex-direction: column;
  position: relative;
}
.service-button-wrapper:after {
  content: "";
  position: absolute;
  background-image: url("../img/background-button-wrapper.png");
  width: 10px;
  height: 279px;
  top: -49px;
  right: 20px;
}
.service h2{
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  margin: 0;
  margin-top: 69px;
  margin-bottom: 25px;
}
.service p{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 25px;
  margin: 0;
  margin-bottom: 3px;
}
.service-delivery{
  color: var(--basic-blue-light);
}
.service-delivery-wrapper {
  min-width: 619px;
  min-height: 261px;
  margin-left: 60px;
}
.service-delivery-wrapper h2 {
  margin: 0;
  margin-bottom: 26px;
  color: var(--basic-blue-light);
}
.service-block-wrapper {
  /*display: none;*/
  background-image: url("../img/truck-delivery.png");
  background-repeat: no-repeat;
  background-position: right 18px;
}

.credit-block-wrapper {
  display: none;
  background-image: url("../img/service-credit.png");
  background-repeat: no-repeat;
  background-position: right 18px;
}
.credit-block-wrapper .button {
  min-width: 220px;
  padding-top: 11px;
  padding-bottom: 9px;
  margin-top: 20px;
}
.guarantee-block-wrapper {
  display: none;
  background-image: url("../img/guarantee.png");
  background-repeat: no-repeat;
  background-position: right 18px;
}
.service-button{
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  background-color: var(--basic-blue-light);
  box-shadow: 0px 1px 0px var(--basic-blue-dark), inset 0px 1px 0px var(--special-shadow-bluelight);
  border: none;
  text-align: left;
  min-width: 212px;
  padding-left:22px;
  padding-bottom: 17px;
  padding-top: 14px;
  margin-right: 20px  ;
}
.button-delivery:enabled{
  background-color: var(--basic-white);
  color: var(--basic-blue-light);
  box-shadow: none;
}
.service-button:active{
  outline: none;
}
.service-button:hover{
  background-color: var(--basic-blue-dark);
}
/*тут как-то нужно сделать кнопку всегда активной, и задать ей фон и цвет текса, с помощью гугла говорит что только с помощью js*/
.company-info-wrapper{
  display: flex;
  justify-content: space-between;
}
.company-info{
  background-color: var(--basic-white);
  color:var(--basic-black);
  padding-bottom: 70px;
}
.company-info h2{
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 56px;
  margin-bottom: 24px;
}
.company-info p{
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  margin-top: 27px;
}
.company-shopping-delivery{
  padding: 0;
  margin: 0;
  padding-left: 37px;
  margin-top: 5px;
}
.company-shopping li{
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 12px;
  position: relative;
}
.company-shopping li:last-child {
  margin-bottom: 20px;
}
.company-shopping li:before {
  content: "";
  background-color: var(--basic-red);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 25px;
  height: 2px;
  position: absolute;
  top: 11px;
  left: -37px;
}
.company-shopping .button {
  display: inline-block;
  min-width: 220px;
  padding-top: 11px;
  padding-bottom: 9px;
  vertical-align: baseline;
}
.company-contact div{
  margin-top: 33px;
  margin-bottom: 21px;
}
.company-contact .button {
  width: 100%;
  padding-top: 9px;
  padding-bottom: 9px;
}
.footer-wrapper{
  background-color: var(--basic-blue-light);
}
.footer-wrapper-contact{
  display: flex;
  justify-content: space-between;
}

.footer-navigation-info {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
}
.footer-navigation-info .main-logo{
  display: inline-block;
  vertical-align: baseline;
  padding: 0;
  margin: 0;
  min-width: 220px;
  padding-top: 21px;
  padding-bottom: 15px;
  text-align: center;
  margin-bottom: 27px;
}
.footer-navigation-info .main-logo img {
  height: 21px;
  width: 136px;
  margin: 0;
}
.footer-navigation-info address{
  font-style: normal;
  color: var(--basic-background-grey);
  padding-left: 2px;
}
.footer-navigation-info a{
  color: var(--basic-background-grey);
  padding-top: 2px;
  padding-left: 4px;
}
.footer-navigation-wrapper{
  display: flex;
  justify-content: space-between;
}
.footer-navigation-menu {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  margin-top: 37px;
  margin-bottom: 74px;
}
.footer-navigation-list-info{
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}
.footer-navigation-list-info a{
  color: var(--basic-brown-light);
  margin-left: 59px;
}
.footer-navigation-list-catalog{
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  margin-top: 36px;
}
.footer-navigation-list-catalog a{
  color: var(--basic-sand-light);
  margin-left: 59px;
}
.footer-navigation-menu a:hover{
  text-decoration: underline;
}
.footer-navigation-menu a:active{
  opacity: 0.5;
}
.footer-navigation-contact{
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-white);
  background-color: var(--basic-blue-dark);
}
.footer-contact-list{
  display: flex;
  justify-content: space-between;
}
.footer-img-wrapper{
  width: 44px;
  height: 44px;
  background: linear-gradient(0deg, var(--special-gradient-blue), var(--special-gradient-blue));
  border-radius: 100%;
  position: relative;
}
.footer-img-wrapper img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer-company-year {
  padding: 0;
  margin: 0;
  margin-top: 35px;
  margin-bottom: 34px;
}
.footer-year-text {
  margin: 0;
  padding-left: 2px;
  margin-top: 1px;
}
.footer-contact-list {
  padding: 0;
  margin: 0;
  margin-top: 34px;
  margin-bottom: 29px;
  margin-left: 46px;
}
.footer-img-wrapper:hover{
  background: var(--basic-red);
}
.footer-feedback {
  display: flex;
  min-width: 300px;
  padding: 0;
  margin: 0;
  margin-top: 35px;
  margin-bottom: 34px;
}
.footer-feedback p {
  margin: 0;
  padding: 0;
}
.footer-feedback p:first-child {
  margin-right: 51px;
  padding-left: 2px;
}
.footer-feedback a{
  color: var(--basic-yellow-light);
}
.footer-feedback a:hover{
  text-decoration: underline;
}
.footer-feedback a:active{
  color: var(--basic-red);
}

/*catalog дополнительные стили к main*/
.catalog-category-list{
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  margin-top: 21px;
  margin-bottom: 20px;
}
.catalog-category-item {
  margin-right: 41px;
}
.catalog-category-list a{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-black);
  position: relative;
}
.catalog-category-list a:after {
  content: "";
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 8px;
  height: 12px;
  position: absolute;
  top:1px;
  right: -24px;
}
.catalog-category h1{
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--basic-blue-light);
  text-transform: uppercase;
  background-color: var(--basic-white-background);
  margin: 0;
  padding: 0;
}

.catalog-filter{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
}
.catalog-filter-wrapper{
  background-color: var(--basic-brown);
  display: flex;
  justify-content: space-between;
}
.catalog-filter-wrapper h2{
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 140px;
}
.button-price,
.button-type,
.button-function {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  max-height: 18px;
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  outline: transparent;
  text-transform: uppercase;
  color:var(--basic-black);
  opacity: 0.3;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dotted var(--basic-red);
  margin-right: 68px;
}
.button-function {
  margin-right: 46px;
}
.button-price:hover,
.button-type:hover,
.button-function:hover {
  opacity: 1;
  border-bottom: 1px solid  var(--basic-red);
}
.button-price:focus,
.button-type:focus,
.button-function:focus {
  border: none;
  color:var(--basic-red);
  opacity: 1;
}
.button-up {
  position: relative;
  background: transparent;
  border: none;
  min-width: 11px;
  min-height: 10px;
  padding: 0;
  margin: 0;
  margin-top: 14px;
  margin-bottom: 14px;
  outline: transparent;
  transform: rotate(-180deg);
  margin-right: 21px;
}
.button-up:after {
  content: "";
  position: absolute;
  background-image: url("../img/triangle-sort-grey.svg");
  width: 11px;
  height: 10px;
  top:0;
  left: 0;
}
.button-down {
  position: relative;
  background: transparent;
  border: none;
  min-width: 11px;
  min-height: 10px;
  padding: 0;
  margin: 0;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-right: 14px;
  outline: transparent;
}
.button-down:after {
  content: "";
  position: absolute;
  background-image: url("../img/triangle-sort-grey.svg");
  width: 11px;
  height: 10px;
  top:0;
  left: 0;
}
.button-up:hover:after {
  background-image: url("../img/triangle-sort-black.svg");
  width: 11px;
  height: 10px;
}
.button-down:hover:after {
  background-image: url("../img/triangle-sort-black.svg");
  width: 11px;
  height: 10px;
}
.button-up:focus:after {
  background-image: url("../img/triangle-sort-red.svg");
  background-repeat: no-repeat;
  transform: rotate(180deg);
  width: 11px;
  height: 10px;
}
.button-down:focus:after {
  background-image: url("../img/triangle-sort-red.svg");
  background-repeat: no-repeat;
  width: 11px;
  height: 10px;
  transform: rotate(-180deg);
}
.catalog-filter h2 {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.catalog-filter-background {
  min-width: 202px;
  background-color: var(--basic-brown);
  margin: 0;
  padding: 0;
  border-radius: 5px;
}
.catalog-item-buy {
  display: none;
  padding-top: 20px;
}
.catalog-item-buy button {
  margin: 0;
  padding: 0;
  width: 135px;
  padding-top: 11px;
  padding-bottom: 9px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  border: none;
  text-transform: uppercase;
}
.button-buy:first-child {
  margin-top: 38px;
  margin-bottom: 10px;
  background: var(--basic-green);
  color: var(--basic-white);
  box-shadow: inset 0px -3px 0px var(--special-shadow-green);
  border-radius: 2px;
  position: relative;
}
.button-buy:first-child:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-basket.svg");
  background-repeat: no-repeat;
  top: 11px;
  left: 25px;
}
.button-bookmarks:last-child {
  margin-bottom: 54px;
  color: var(--basic-blue-light);
  background: var(--basic-white);
  border: 3px solid var(--basic-green);
  box-sizing: border-box;
  border-radius: 2px;
}
.button-buy:hover {
  background: var(--basic-green-light);
}
.button-bookmarks:hover {
  border: 3px solid var(--basic-blue-light);
}
.button-buy:focus {
  background: var(--basic-green-dark);
}
.button-bookmarks:focus {
  border: 3px solid var(--basic-blue-light);
  opacity: 0.5;
}
.catalog-item:hover .catalog-item-buy {
  width: 210px;
  height:159px;
  position: absolute;
  top:0;
  left:0;
  background-color: var(--basic-white);
  display: flex;
  flex-direction: column;
  align-items: center;


}

/*Фильтр цены, слева*/


.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid var(--basic-grey-scale);
  margin-top: 14px;
}
.range-filter {
  width: 220px;
  margin-top: 10px;
}
.filter-item legend{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}
.range-controls{
  background-color: var(--basic-brown);
  min-height: 41px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  border-radius: 5px;
}
.range-controls .scale {
  height: 2px;
  background: var(--basic-grey-scale);
}
.range-controls .bar{
  width: 70%;
  height: 2px;
  background: var(--basic-green);
}
.range-controls .toogle{
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background: var(--basic-grey-toogle);
  border-radius: 50%;
  position: absolute;
  top:31px;
  cursor: pointer;
}
.range-controls .toogle-min{
  left: 18px;
}
.range-controls .toogle-max{
  left:130px;
}
.price-controls{
  display: flex;
  justify-content: space-between;
}
.price-controls label{
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
}
.price-controls input{
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border: none;
  background: var(--basic-brown);
  border-radius: 5px;
  margin-bottom: 25px;
  padding-left: 15px;
}

/*Фильтр по производителям*/
.content-filter-wrapper {
  min-width: 220px;
  margin: 0;
  padding: 0;
  margin-top: 16px;
  margin-bottom: 18px;
  border: none;
  border-bottom: 1px solid var(--basic-grey-scale);
}
.content-filter-wrapper ul{
  margin-top: 17px;
}
.content-filter-wrapper ul li:last-child {
  margin-bottom: 27px;
}
.content-filter-wrapper ul {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 7px;
}
.content-filter-list input {
  display: none;
}
.content-filter-list li{
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.content-filter-list label{
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding-left: 36px;
}
.filter-input-checkbox + label::before{
  content: "";
  position: absolute;
  top:-4px;
  left: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}
.filter-input-checkbox:hover + label::before{
  content: "";
  position: absolute;
  top:-4px;
  left: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off-hover.svg");
  background-repeat: no-repeat;
}
.filter-input-checkbox:hover:checked + label::before{
  content: "";
  position: absolute;
  top:-2px;
  left: 4px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-on-hover.svg");
  background-repeat: no-repeat;
}
.filter-input-checkbox:hover:checked + label::after{
  content: "";
  position: absolute;
  top:-4px;
  left: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-square-hover.svg");
  background-repeat: no-repeat;
}
.filter-input-checkbox:checked + label:after {
  content: "";
  position: absolute;
  top: -2px;
  left: 4px;
  width: 23px;
  height: 23px;
  background-image: url("../img/icon-check.svg");
  background-repeat: no-repeat;
}
.filter-input-checkbox:checked + label:before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/square.svg");
  background-repeat: no-repeat;
  border: none;
}
.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
}
.filter-input-radio:checked + label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
}
.filter-input-radio:hover + label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off-hover.svg");
  background-repeat: no-repeat;
}
.filter-input-radio:hover:checked + label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on-hover.svg");
  background-repeat: no-repeat;
}
.content-filter-radio {
  border-bottom: none;
  margin-bottom: 0;
  padding-top: 4px;
}

/*Карточки товара*/

.content-filter{
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.content-filter-item{
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.button-catalog-filter{
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 1px solid var(--basic-white-border);
  min-width: 220px;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.catalog-sort{
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.catalog-sort button{
  text-transform: uppercase;
  font-size: 13px;
  line-height: 17px;
  opacity: 0.3;
  border: transparent;
  border-bottom: 1px dotted var(--basic-red);
  background: transparent;
}
.catalog-sort button:hover{
  opacity: 1;
  border-bottom: 1px solid var(--basic-black);
}
.catalog-sort button:active{
  color: var(--basic-red);
  border: transparent;
}
.product-list {
  padding: 0;
  margin: 0;
  margin-bottom: 59px;
}
.product-list li {
  margin-right: 9px;
}
.product-list button{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 1px solid var(--basic-white-border);
  border-radius: 2px;
  min-height: 37px;
  min-width: 37px;
  outline: transparent;
  margin: 0;
  padding: 0;
}
.product-list li:last-child button {
  min-width: 139px;
  min-height: 37px;
}
.product-list button:hover {
  border: 1px solid var(--basic-grey-light);
  border-radius: 2px;
}
.product-list button:active{
  border: 1px solid var(--basic-red);
}
.product-list button:focus {
  background-color: var(--basic-red);
  color: var(--basic-white);
}
.catalog-history{
  background-color: var(--basic-brown-light);
  padding-bottom: 73px;
}
.catalog-history h2{
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--basic-black);
  padding: 0;
  margin: 0;
  padding-top: 64px;
  padding-bottom: 25px;

}
.catalog-history p{
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  padding: 0;
  margin: 0;
}

/* GRID main, catalog */
.page-catalog{
  display: grid;
  grid-template-columns: 240px 1fr;
  align-content: start;
}
.page-catalog .page-title{
  grid-column: 1 / -1;
  padding: 0;
  margin: 0;
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 29px;
}
.page-catalog .catalog-filter{
  margin-right: 28px;
}
.page-catalog .catalog-category{
  grid-column: 1 / -1;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}
.page-catalog .catalog-list{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 28px 0 30px 0;
}
.page-catalog .product-list{
  display: flex;
}

/*Фильтр цены*/
.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid var(--basic-grey-scale);
}
.range-filter {
  width: 220px;
  margin-top: 10px;
}
.filter-item legend{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}
.range-controls{
  background-color: var(--basic-brown);
  min-height: 41px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  border-radius: 5px;
}
.range-controls .scale {
  height: 2px;
  background: var(--basic-grey-scale);
}
.range-controls .bar{
  padding-top: 1px;
  width: 78%;
  height: 2px;
  background: var(--basic-green);
}
.range-controls .toogle{
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background: var(--basic-grey-toogle);
  border-radius: 50%;
  position: absolute;
  top:31px;
  cursor: pointer;
}
.range-controls .toogle-min{
  left: 18px;
}
.range-controls .toogle-max{
  left:160px;
}
.price-controls{
  display: flex;
  justify-content: space-between;
}
.price-controls label{
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
}
.price-controls input{
  font-family: inherit;
  font-size: inherit;
  width: 83px;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border: none;
  background: var(--basic-brown);
  border-radius: 5px;
  margin-bottom: 25px;
  padding-left: 12px;
}
.max-price input::-webkit-input-placeholder{
  color:var(--basic-black)
}
.max-price input::-moz-placeholder{
  color:var(--basic-black)
}
.max-price input::placeholder{
  color:var(--basic-black)
}

/*modal*/

.modal-basket{
  width: 620px;
  height: 282px;
  text-align: center;
  border-top: 8px solid var(--basic-red);
  position: relative;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
.modal-basket h2{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
  background-color: var(--basic-white);
  padding-top: 73px;
  padding-bottom: 67px;
  max-height: 170px;
  position: relative;
}
.modal-basket h2:before {
  content: "";
  position: absolute;
  top: 55px;
  left: 81px;
  padding: 0;
  margin: 0;
  height: 66px;
  width: 66px;
  background-image: url("../img/icon-mark.svg");
}
.modal-button-basket{
  margin: 0;
  padding: 0;
  background-color: var(--basic-grey-modal);
  max-height: 112px;
  padding-top: 37px;
  padding-bottom: 37px;
  display: flex;
  justify-content: center;
}
.modal-button-basket button{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color:var(--basic-black);
  margin: 0;
  padding: 0;
  padding-top: 11px;
  padding-bottom: 9px;
  min-width: 192px;
  border: none;
  background-color: var(--basic-white);
  text-transform: uppercase;
}
.modal-button-basket button:first-child{
  margin-right: 10px;
}
.modal-button-basket button:hover{
  color: var(--basic-white);
  background-color: var(--basic-red);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.modal-button-basket button:active{
  background-color: var(--basic-red-dark);
}
.button-close{
  position: absolute;
  margin: 0;
  padding: 0;
  height: 21px;
  width: 21px;
  background: transparent;
  background-image: url("../img/icon-close-button.svg");
  background-repeat: no-repeat;
  top:11px;
  right: 11px;
  border: none;
  cursor: pointer;
}
.modal-feedback{
  width: 620px;
  height: 430px;
  padding: 0;
  border-top: 7px solid var(--basic-red);
  /*position: relative;*/
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  background-color: var(--basic-white);
  position: absolute;
}
.feedback-form{
  width: 460px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 46px;
  padding-bottom: 37px;
}
.feedback-form label{
  font-family: "Cuprum",Arial,sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  padding-bottom: 11px;
}
.label-textarea{
  padding-top: 13px;
}
.feedback-form input{
  margin: 0;
  padding: 0;
  min-width: 206px;
  min-height: 38px;
  border: 2px solid var(--basic-grey-light);
  border-radius: 2px;
  padding-left: 10px;
}
.feedback-form input::-webkit-input-placeholder{
  font-family: "PT Sans",Arial,sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  padding-left: 12px;
}
.feedback-form input::-moz-placeholder{
  font-family: "PT Sans",Arial,sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  padding-left: 12px;
}
.feedback-form input::placeholder{
  font-family: "PT Sans",Arial,sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  padding-left: 12px;
}
.feedback-form input:first-child::-webkit-input-placeholder{
  text-transform: capitalize;
}
.feedback-form input:first-child::-moz-placeholder{
  text-transform: capitalize;
}
.feedback-form input:first-child::placeholder{
  text-transform: capitalize;
}
.feedback-form p{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.feedback-form textarea{
  min-width: 448px;
  max-height: 114px;
  padding: 0;
  padding-left: 10px;
}
.feedback-button-wrapper{
  background: var(--basic-background-feedback);
  min-width: 620px;
  min-height: 112px;
  text-align: center;
}
.feedback-button{
  font-family: "Cuprum", Arial,sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-black);
  background: var(--basic-white);
  margin: 0;
  padding: 0;
  min-width: 460px;
  padding-top: 11px;
  padding-bottom: 9px;
  border: none;
  margin-top: 37px;
  margin-bottom: 37px;
}
.feedback-button:hover{
  color: var(--basic-white);
  background: var(--basic-red);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.feedback-button:focus{
  background: var(--basic-red-dark);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.modal-map{
  width: 943px;
  height: 449px;
  position: relative;
  border-top: 7px solid var(--basic-red);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
.modal-map img{
  display: block;
}
.modal-map iframe{
  border: none;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: none;
}
.modal-show {
  display: block;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}
.modal-error{
  display: block;
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

/*Animations*/
@-webkit-keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
