*, *::before, *::after {
  box-sizing: content-box;
}
/* Variables */

:root{
  --basic-white: #FFFFFF;
  --basic-black:#000000;
  --basic-blue-light: #32425C;
  --basic-blue-dark:#293449;
  --basic-blue-verydark:#1D2739;
  --basic-red: #EE3643;
  --basic-red-dark: #BA2732;
  --basic-yellow: #FFD180;
  --basic-green: #63A63E;
  --basic-green-light: #5FBB2D;
  --basic-grey-light: #C5C5C5;
  --basic-grey: #A9A9A9;
  --basic-background-grey: #F3F7F9;
  --basic-yellow-light: #FFD180;
  --basic-grey-overlight: #F1F5F7;
  --basic-brown-light:#F1F5F7;
  --basic-brown:#F7F3EC;
}

/* Global */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
li {
  list-style: none;
}
.page{
  height:100%;
}
.page-body{
  min-height:100%;
  display: grid;
  grid-template-rows: min-content 1fr max-content;
  align-content: start;
}
.container{
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
.main-info {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  background-color: var(--basic-blue-dark);

}
.main-info-wrapper{
  display: flex;
  justify-content: space-between;
}
.main-info a{
  color: var(--basic-white);
}
.main-info a:active{
  color: var(--basic-grey-light)
}
.main-logo{
  background-color: var(--basic-red) ;
}
.main-logo img{
  width:108px;
  height:18px;
}
.main-checkout{
  background-color: var(--basic-green);
}
.main-checkout:active {
  background-color: var(--basic-green);
}
.main-checkout:hover {
  background-color: var(--basic-green-light);
}
.user-navigation{
  background-color: var(--basic-background-grey);
  padding-bottom: 60px;
}
.user-navigation p {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: var(--basic-red);
  margin: 0;
}
.user-navigation-wrapper{
  display: flex;
  justify-content: space-between;
  padding-top: 46px;
  padding-bottom: 40px;
}
.main-login a {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.main-login a:hover{
  color: var(--basic-red)
}
.main-login a:active{
  color: var(--basic-grey-light);
}

.phone {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-red);
  border: 2px solid white;
  margin: 0;
}
.main-address {
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-blue-light);
  font-style: normal;
}
.username a{
  width: 299px;
  min-height: 45px;
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  font-style: normal;
  color: var(--basic-black);
  text-transform: capitalize;
  background-color: var(--basic-white);
}
.username a:active{
  color: var(--basic-grey-light);
}
.username-status a{
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-blue-light);
}
.username-status a:hover{
  color: var(--basic-red)
}
.username-status a:active{
  color: var(--basic-grey-light)
}
.main-navigation {
  font-size: 18px;
  line-height: 24px;
  background-color: var(--basic-blue-light);
}
.main-navigation a{
  color:  var(--basic-white);
}
.main-navigation a:active{
  opacity: 0.5;
}
.main-navigation ul{
  margin: 0;
}
.main-navigation li:hover{
  background-color: var(--basic-blue-dark);
}
.main-navigation li:active{
  background-color: var(--basic-blue-verydark);
}
.main-navigation-wrapper ul{
  display: flex;
  justify-content: space-between;
  /*padding:0;*/
  /*padding-top: 16px;*/
  /*padding-bottom: 20px;*/
  margin-bottom: 60px;
}
.advantages li:not(:nth-child(4)){
  max-width: 300px;
  min-height: 123px;
}
.advantages h3{
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
.advantages{
  color: var(--basic-white);
}
.advantages-button{
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: rgba(255,255,255,0.3);
}
.advantages-button:hover{
  background-color: rgba(197, 197, 197, 0.3);
}
.advantages-button:active {
  background-color: rgba(169, 169, 169, 0.3);
}
.advantages-materials{
  background-color: #FFBF47;
}
.advantages-tools{
  background-color: #3BBCE3;
}
.advantages-technics{
  background-color: #DC91D8;
}
.advantages-gallery{
  width: 620px;
  min-height: 266px;
  background-image: url("../img/perforators.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}
.button {
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  border: none;
  background-color: var(--basic-red);
}
.button:hover{
  background-color: var(--basic-red);
}
.button:active{
  background-color: var(--basic-red-dark);
}
.figure h3{
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--basic-white);
}
.figure p{
  font-size: 18px;
  line-height: 24px;
}
.advantages-list{
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  /*grid-template-rows: 130px 130px 130px;*/
  gap:20px;

}
.advantages-gallery{
  grid-column: 1/3;
  grid-row: 2/4;
}
.advantages-discounts{
  background-color: #8ED78F;
}
.advantages-delivery{
  background-color: #FFC047;
}
.product-popular{
  background-color: var(--basic-brown-light);
}
.product h2{
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-blue-light);
}
.catalog-list {
  font-family: "PT Sans", Arial, sans-serif;
  display: flex;
  justify-content: space-between;
}
.catalog-item h3{

}
.catalog-item {
  max-width: 220px;
  background-color: var(--basic-white);
  border: 1px solid #EAEAEA;
  text-align: center;
}
.catalog-item a{
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
}
.catalog-item-oldprice {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-decoration-line: line-through;
  color: var(--basic-grey);
}
.catalog-item-newprice {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--basic-red);
}
/*неудачный треугольник на кнопке */
.catalog-item-newprice:after{
  /*content: "";*/
  /*width: 0;*/
  /*height: 0;*/
  /*border-style: solid;*/
  /*border-width: 10px 0 10px 17.3px;*/
  /*border-color: transparent transparent transparent #ff0000;*/
}
.catalog-item-newprice:acitve{
  outline: none;
}
.manufacturer-popular{
  background-color: var(--basic-brown-light);
}
.manufacturer-popular h2{
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-blue-light);
}
.manufacturer-item {
  width: 220px;
  height: 145px;
  background-color: var(--basic-white);
  text-align: center;
  border: 1px solid #EAEAEA;
}
.manufacturer-list li{
  text-align: center;
}
.manufacturer-list{
  width: 940px;
  display: grid;
  grid-template-columns: 225px 225px 225px 225px;
  grid-template-rows: 145px 145px;
  gap:21px;
  padding: 0;
  te
}
.manufacturer-item img{
  display: inline-block;
  vertical-align: middle;
}
.service {
  background-color: var(--basic-grey-overlight);
}
.service-wrapper{
  display: flex;
  justify-content: space-between;
}
.service-button-wrapper{
  display: flex;
  flex-direction: column;
}
.service h2{
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}
.service p{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}
.service-delivery{
  color: var(--basic-blue-light);
}
.service-button{
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  background-color: var(--basic-blue-light);
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
  border: none;
}
.service-button:active{
  outline: none;
}
.service-button:hover{
  background-color: var(--basic-blue-dark);
}
/*тут как-то нужно сделать кнопку всегда активной, и задать ей фон и цвет текса, с помощью гугла говорит что только с помощью js*/
.company-info-wrapper{
  display: flex;
  justify-content: space-between;
}
.company-info{
  background-color: var(--basic-white);
  color:var(--basic-black);
  padding-bottom: 70px;
}
.company-info h2{
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}
.company-info p{
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  /*margin: 0;*/
}
.company-shopping li{
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
.company-contact div{
  margin-bottom: 25px;
}
.footer-wrapper{
  background-color: var(--basic-blue-light);
}
.footer-wrapper-contact{
  display: flex;
  justify-content: space-between;
}
.footer-navigation-info {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
.footer-navigation-info address{
  font-style: normal;
  color: var(--basic-background-grey);
}
.footer-navigation-info a{
  color: var(--basic-background-grey);
}
.footer-navigation-wrapper{
  display: flex;
  justify-content: space-between;
}
.footer-navigation-menu {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
}
.footer-navigation-list-info{
  display: flex;
  justify-content: space-between;
}
.footer-navigation-list-info a{
  color: #F1F5F7;
}
.footer-navigation-list-catalog{
  display: flex;
  justify-content: space-between;
}
.footer-navigation-list-catalog a{
  color: #FFDA96;
}
.footer-navigation-menu a:hover{
  text-decoration: underline;
}
.footer-navigation-menu a:active{
  opacity: 0.5;
}
.footer-navigation-contact{
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-white);
  background-color: var(--basic-blue-dark);
}
.footer-contact-list{
  display: flex;
  justify-content: space-between;
}
.footer-img-wrapper{
  width: 44px;
  height: 44px;
  background: linear-gradient(0deg, #212A3A, #212A3A);
  border-radius: 100%;
  position: relative;
}
.footer-img-wrapper img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer-img-wrapper:hover{
  background: var(--basic-red);
}
.footer-feedback a{
  color: var(--basic-yellow-light);
}
.footer-feedback a:hover{
  text-decoration: underline;
}
.footer-feedback a:active{
  color: var(--basic-red);
}

/*catalog дополнительные стили к main*/
.catalog-category-list a{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-black);
}
.catalog-category h1{
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--basic-blue-light);
  text-transform: uppercase;
  background-color: #F2F6F8;
}
.catalog-filter{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-black);
}
.catalog-filter-background{
  background-color: var(--basic-brown);
}
.content-filter{
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.content-filter-item{
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.button-catalog-filter{
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 1px solid #E5E5E5;
}
.catalog-sort{
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.catalog-sort button{
  text-transform: uppercase;
  font-size: 13px;
  line-height: 17px;
  opacity: 0.3;
  border: transparent;
  border-bottom: 1px dotted var(--basic-red);
  background: transparent;
}
.catalog-sort button:hover{
  opacity: 1;
  border-bottom: 1px solid var(--basic-black);
}
.catalog-sort button:active{
  color: var(--basic-red);
  border: transparent;
}
.product-list a{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 1px solid #E5E5E5;
  border-radius: 2px;
}
.product-list a:active{
  border: 1px solid var(--basic-red);
}
.catalog-history{
  background-color: var(--basic-brown-light);
}
.catalog-history h2{
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--basic-black);
}
.catalog-history p{
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}
